@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/agustin\/projects\/casivaagustin\/backbone\/sass\/main\.scss}line{font-family:\0000310}}
body {
  font-size: 14px;
  width: 1040px;
  margin: auto;
  font-family: Arial;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/agustin\/projects\/casivaagustin\/backbone\/sass\/main\.scss}line{font-family:\0000321}}
body a {
  text-decoration: none;
  color: #666666;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/agustin\/projects\/casivaagustin\/backbone\/sass\/main\.scss}line{font-family:\0000326}}
body a:hover {
  color: #777777;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/agustin\/projects\/casivaagustin\/backbone\/sass\/main\.scss}line{font-family:\0000333}}
nav ul li {
  display: inline;
  list-decoration: none;
  font-size: 20px;
  margin: 10px 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/agustin\/projects\/casivaagustin\/backbone\/sass\/main\.scss}line{font-family:\0000342}}
header {
  text-align: center;
  font-size: 30px;
  padding: 20px 10px;
  border-bottom: 5px solid;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/agustin\/projects\/casivaagustin\/backbone\/sass\/main\.scss}line{font-family:\0000349}}
footer {
  font-size: 9px;
  text-align: center;
  margin: 20px 0px;
}
