
$link-color: #666;
$link-color-hover: #777;

$font-huge: 30px;
$font-big: 20px;
$font-normal: 14px;
$font-small: 9px;

body {
  font-size: $font-normal;
  width: 1040px;
  margin: auto;
  font-family: Arial;
}

#content {

}

body a {
  text-decoration: none;
  color: $link-color;
}

body a:hover {
  color: $link-color-hover;
}

nav {
 ul {
 }
 ul li {
  display: inline;
  list-decoration: none;
  font-size: $font-big;
  margin: 10px 10px;
 }
}


header {
  text-align: center;
  font-size: $font-huge;
  padding: 20px 10px;
  border-bottom: 5px solid;
}

footer {
  font-size: $font-small;
  text-align: center;
  margin: 20px 0px;
}